* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  height: 100vh;
  display: grid;
  color: white;
  grid-template-columns: 1.2fr 6fr;
  grid-template-areas: 
    'aside header'
    'aside main'
    'aside footer';
  grid-template-rows: 1fr 10fr 1.5fr;
}

aside, main, footer {
  /* border: 2px solid white; */
  padding: 20px;
}

aside {
  grid-area: aside;
  position: fixed;
  color: white;
}

aside .logo {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

aside .logo #content {
  position: absolute;
  margin-left: 45px;
  font-weight: 550;
  height: 100px;
  margin-top: 7px;
}

aside .logo i {
  position: absolute;
  font-size: 40px;
}

aside .nav {
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 70px;

  margin-bottom: 140px;
}

aside .nav i {
  font-size: 24px;
  font-weight: 600;
}

aside button{
height: 40px;
width: 90px;
border-radius: 20px;
background-color: black;
color: white;
margin-top: 40px;
font-weight: 300px;
border: 2px solid rgb(161, 156, 156);
}

aside .nav #navnames {
  margin-left: 20px;
}

aside .nav a {
  color: rgb(202, 196, 196);
}

aside .nav a:hover {
  color: white;
}

aside .Info {
  font-size: 10px;
}

aside .Info a {
    font-size: 11px;
    margin-right: 30px;
    color: gray;
    font-weight: 200;
}

aside #cookies2:hover {
  text-decoration: solid;
}

header {
  z-index: 1;
  grid-area: header;
  height: 60px;
  width: 1500px;
  display: flex;
  margin-left: 253px;
  position: fixed;
  opacity: 100%;
  background-color: rgb(15, 15, 15);
}

i .fa-pipe{
    color: rgb(123, 116, 116);
    height: 30px;
    width: 20px;
}

header #login{
    margin-top: 10px;
    border-radius: 30px;
    background-color: white;
    height: 40px;
    width: 80px;
    font-weight: 550;
    cursor: pointer;
    color: black;
}

header .header {
  height: 100%;
}

header .arrows {
  margin-top: 20px;
  position: absolute;
}

header #arrows1> a> i{
  font-size: 25px;
}

header #arrows2> a> i{
  font-size: 25px;
}
header #arrows1 {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  margin-top: -5px;
  font-weight: 100;
  margin-left: 20px;
}

header #arrows2 {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  
  font-weight: 100;
  margin-left: 70px;
  margin-top: -30px;
}

header #nonarrow {
  font-weight: 550;
  letter-spacing: 2px;
  position: relative;
  margin-top: 15px;
  font-size: 15px;

  color: rgb(123, 116, 116);
  margin-right: 15px;
}

header .nonarrow {
  position: relative;
  height: 100%;
  margin-left: 10px;
  transform: translateX(770px);
}

.nonarrow> i{
  height: 10px;
  color: rgb(123, 116, 116);
  width: 10px;
}

header #nonarrow:hover {
  color: white;
}

main {
  padding: 30px;
  grid-area: main;
  background-color: rgb(25, 24, 24);
  z-index: 0;
}


main #top {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 60px;
}

main #top>h2 {
  position: absolute;
  
  margin-top: -10px;
}

main #top>h4 {
  position: relative;
  margin-left: 1140px;

}

main .cards {
  margin-left: 0px;
  margin-top: 20px;
  height: 270px;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-column: repeat(6, 1fr);
  grid-template-areas: 
    'card1 card2 card3 card4 card5 card6';
    margin-bottom: 40px;
}

main .card {
  border-radius: 3%;
  padding: 15px;
  width: 214px;
  background-color: rgb(36, 34, 34);
  display: flex;
  height: 300px;
  margin-top: -10px;

}

main .card>img{
    position: absolute;
    height: 180px;
    width: 185px;
    border-radius: 6px;

}

main .card>h3{
  position: absolute;
  font-size: 16px;
  margin-top: 170px;
  width: 150px;
  transform: translateY(25px);
}

.card>i{
border-radius: 50%;
height: 40px;
aspect-ratio: 1;
position: relative;
opacity: 0;
font-size: 47px;
background-color: #191414;
transform: translate(130px, 127px);
color: #1DB954;

}

.card:hover{
  background-color: rgb(51, 50, 50);
}
.card:hover>i{
  opacity: 1;
  
}
/* .card> i:hover{
  height: 110px;
  position: relative;
  width: 90px;
  font-size: 40px;
  transform: translate(115px, 100px);
  color: rgb(15, 204, 15);
  visibility: visible;
} */

main .card>p{
    position: relative;
    font-size: 12px;
    margin-left: -40px;
    margin-top: 225px;
    line-height: 20px;
    width: 200px;
    color: rgb(202, 196, 196);;
}

main .card1 {
  grid-area: card1;
}

main .card2 {
  grid-area: card2;
}

main .card3 {
  grid-area: card3;
}

main .card4 {
  grid-area: card4;
}

main .card5 {
  grid-area: card5;
}

main .card6 {
  grid-area: card6;
}

footer {
    background-color: rgb(25, 24, 24);
    padding: 30px;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;

}

.footer1, .footer2, .footer3{
    font-size: 13px;
}

footer a{
    font-size: 15px;
    color: rgb(202, 196, 196);
    text-decoration: solid;
}
footer h2{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
footer hr{
    margin-top: 30px;
    border: 0.1px solid rgba(99, 98, 98, 0.524);
}

footer .socials{
    margin-left: 460px;
    display: flex;
    gap: 20px;
}

footer .social{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgb(36, 34, 34);
}

footer .social>i{
    font-size: 20px;
    color: rgb(202, 196, 196);

}

.social :hover{
    color: rgb(248, 236, 236);
}


a {
  color: white;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: rgb(25, 24, 24);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(238, 233, 233);
}

/* Handle on hover */
body::-webkit-scrollbar-track:hover::-webkit-scrollbar-thumb {
  background-color: rgb(238, 233, 233);
}